/* Reset styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, 
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    scroll-behavior: smooth;
  }
a:link {
    text-decoration: none;
  }
ul, li, ol {
    list-style-type: none;
  }
body, a {
    color: #707070;
    font-size: 15px;
  }
/* Reset styles above */
/* Home container */
.home-container {
    margin: 95px auto 0 auto;
    text-align: center;
    max-width:1200px;
  }
/* Home container above */
/* Site Wide settings */
/* Font family */
body {
  font-family: "Segoe UI", 'Roboto', "montserrat", sans-serif;
}
/* Font family above */
/* Font colors */
.green-font {
  color: #83bc00;
}
.dark-yellow-font {
  color: #F9C400;
}
.orange-font {
  color:#F3733D
}
/* Font colors above */
/* Current page */
.current{
  border-bottom: 2px solid #707070;
}
.current-ft{
  border-bottom: 2px solid white;
}
/* Current page above */
/* Buttons colors must be changed on individual pages */
.generalbtn {
  min-width: 150px;
  margin: 0 17px 17px;
  padding: 10px;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.70);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 425px) {
  .generalbtn {
    width: 80%;
  }
}
.generalbtn:hover {
  transform: translateY(-0.25em);
  cursor: pointer;
}
/* Buttons above */

/* Survey button */
.surveybtn {
  min-width: 150px;
  margin: 0 17px 17px;
  padding: 20px;
  transition: all 0.3s;
  background-color: #F3733D;
  color:white;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 425px) {
  .surveybtn {
    width: 80%;
  }
}
.surveybtn:hover {
  transform: translateY(-0.25em);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.70);
}

/* Site wide settings above */

/* //////////////////// Reset Code Above //////////////////// */

/* Background Images */
/* Green */
.hm-bg-g{
    background: url(https://imagizer.imageshack.com/img923/6249/5Lxg5u.jpg) top right;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* Orange */
.hm-bg-o{
  background: url(https://imagizer.imageshack.com/img924/9157/QYwK9o.jpg) top right;
  background-repeat: no-repeat;
}
/* Yellow */
.hm-bg-y{
  background: url(https://imagizer.imageshack.com/img924/4866/EyX964.jpg) top right;
  background-repeat: no-repeat;
}
/* Background Images Above */

/* Navbar */
nav, .mobile-menu {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(145%);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;  
}
nav { 
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.logo a {
  letter-spacing: 2px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  list-style: none;
  align-items: center;
}
.nav-links a {
  letter-spacing: 3px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 3vw 0 0;
}
.current-link {
  border-bottom: 1.5px solid #707070;
  padding-bottom: 5px;
}
.fa-phone {
  margin-left: 3vw;
  font-size: 34px;
}
/* Navbar Above */
/* Hamburger Menu */
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 29px;
  height: 4px;
  background-color: #707070;
  margin: 4px;
  transition: all 0.3s ease-in;
}
/* hamburger menu icon large device */
.mobile-menu {
  display: none;
}
/* Hamburger Menu Above */
/* navbar mobile */
@media screen and (max-width: 900px) {
  .mobile-menu, .nav-links {
    transform: translateY(-120%);
    transition: transform 0.4s ease-in;
  }
/* mobile menu background */
  .mobile-menu {
    display:flex;
    height: 100%;
  }
/* mobile menu links */
  .nav-links {
    position: absolute;
    flex-direction: column;
    top: 13vh;
    height: 80vh;
  }
/* will hide phone menu links till menu opens */
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
/* Hamburger menu phone icon */
  .fa-phone {
    font-size: 60px;
  }
}
/* for app.js use to open the menu */
  .nav-active {
    transform: translateY(0%);
}
/* slider for app.js to slide the phone menu down */
/* For app.js use to open the menu above*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* hamburger menu lines */
/* Hamburger menu top line */
.toggleX .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
/* hamburger menu middle line */
.toggleX .line2 {
  opacity: 0;
}
/* Hamburger menu bottom line */
.toggleX .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Hamburger menu lines above */
/* Navbar Mobile Above */

/* Main content box */
/* Box head a foot duplicate styling */
.box-head, .box-foot, .quote-head, .why-head {
    background-color: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(10px) contrast(20%) brightness(110%);
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 17px;
}
/* Box head a foot duplicate styling above*/
/* Box main and quotes-carousel main box duplicate styling */
.box-main, .quotes-carousel, .why-carousel {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) contrast(20%) brightness(145%);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    margin: 30px auto 0 auto;
    width: 90%;
    height: auto;
    line-height: 1.25;
}
/* Box main and quotes-carousel main box duplicate styling */
/* Text content within box */
  .box-main p {
    padding: 0 17px 22px 17px;
    text-align: left;
  }
/* Text content within box above */
/* Head of box */
  .box-head {
    width: 350px;
    margin-bottom: 20px;
  }
/* Head of box above */
/* Foot of box */
  .box-foot {
    width: 350px;
    margin-left: auto;
    bottom: 0;
    
  }
/* Foot of box above */

/* Quote Carousel */
.quote-card p {
  margin:0 auto;
  width: 80%;
  height: auto;
  padding: 22px 17px 22px 17px;
  color: #707070;
}
.quote-head {
  margin-left: -10px;
  width: 150px;
  padding: 17px;
  font-weight: 600;
}
.why-head {
  width: 150px;
  padding: 17px;
  font-weight: 600;   
}
/* Quote Carousel Above */
/* Main content box phone */
  @media screen and (max-width: 425px) {
    .box-head {
      width:auto;
    }  
    .box-foot {
      margin-left: 0;
      width:auto;
    }
    .why-head {
      width: auto;   
    }
  }
/* Main content box phone above */
/* Main content box above */

/* How we work List  */
.hww{
  text-align: left;
}

.hww li{
  list-style-type:disc;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 16px;
}
/* How we work above */



/* Service cards carousel */ 
.services-carousel {
  margin: 30px auto;
}
.slick-slide {
  margin: 0 10px;
}
.services-card {
  position: relative;
  overflow: hidden;
  background-image: scale-down;
}
.services-card .services-card-text {
  bottom: 0;
  position: absolute;
  height: 25%;
  background-color: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  transition: height 0.4s;
  text-align: left;
  font-size: 17px;
  padding-left: 5%;
}
.services-card-text p {
  font-weight: 300;
  line-height: 1.5;
}
.services-card:hover .services-card-text {
  height: 100%;
}
.subtitle{
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .services-card img{
    height: 320px;
  }
}

@media screen and (max-width: 800px) {
  .subtitle{
    display: none;
  }
  .services-card img{
    height:260px;
  }
}

@media screen and (max-width: 550px) {
  .services-card img{
    height:300px;
  }
}
/* Service cards carousel above */

/* Footer */
/* Backing for footer */
.footer-container-1200, .footer-container-90 {
  margin: 0 auto;
}
footer {
  width: 100%;
  background-color: #707070;
}
.footer-container-1200 {
  height: auto;
  max-width: 1200px;
  background-image: url(https://imagizer.imageshack.com/img924/1994/0HhxgT.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 50%;
}
.footer-container-90 {
  width:90%;
  display:grid;
  grid-template-columns: 4fr 7fr 1fr;
  align-items:center;
  margin-top: 30px;
}
/* Footer nav links */
.footer-links li {
  padding: 1.5vh 0;
  margin-left: 1vw;
}
/* Footer social links */
.footer-address li, .footer-address a, .copyright, .footer-links a {
  color:white;
}
.footer-social li {
  margin: 20px 10px 6px;
  list-style: none;
  font-size: 40px;
  text-align: center;
}
.footer-social a {
  text-decoration: none;
  font-size: 40px;
}
.footer-address li {
  text-align: right;
  padding: 0.35vh 0;
  margin-right: 2vw;
}
.footer-address a {
  text-decoration: none; 
}
.copyright {
  width: 100%;
  text-align: center;
  font-size:8px;
  padding-bottom: 28px;
  background-color: #707070;
}
@media screen and (max-width: 500px) {
  .footer-links {
    margin: 30px 0;
  }
  .footer-links li {
    text-align: center;
  }
  .footer-container-90 {
    display: flex;
    flex-direction: column;
  }
  .footer-address li {
    text-align: center;
  }
  .footer-social {
    display: flex;
    margin: 20px 0;
  }
}
/* Footer above */

/* Gallery */
.gallery-container{
  --secondary-color:#111;
  --backdrop-color:rgba(112,112,112,0.9);
  --gap-length:5px;
  --row-height:300px;
  --column-width:300px;
}
.gallery-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(var(--column-width),1fr));
  grid-gap:var(--gap-length);
}
.gallery-box img{
  object-fit:cover;
  cursor:pointer;
  width:100%;
  height:100%;
  filter: grayscale(1);
  transition: 0.4s;
}
.gallery-box img:hover{
  filter: grayscale(0);
}
#gallery-screen{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:var(--backdrop-color);
  z-index:1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:content;
}
#gallery-screen .gallery-image{
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:content;
}
#gallery-screen .gallery-image img{
  max-width:100%;
  max-height:100%;
  margin:0 auto;
}
.gallery-btn{
  margin: 10vh;
  padding: 2vh;
  color:#707070;
  cursor:pointer;
  -moz-transition:all .4s ease;
  -o-transition:all .4s ease;
  -webkit-transition:all .4s ease;
  transition:all .4s ease;
  font-size: 30px;
  box-sizing:border-box;
  position:fixed;
}
.gallery-btn:hover{
  background:var(--secondary-color);
}
.gallery-close, .gallery-close, .gallery-next, .gallery-prev {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
.gallery-close{
  border-radius: 100%;
  width: 70px;
  height: 70px;
  top:10px;
  margin-right: 2vw;
}
.gallery-close, .gallery-next{
  right:10px;
}
.gallery-prev{
  right:50px;
  margin-right: 6vw;
}
.gallery-next {
  margin-right: 2vw;
}
.gallery-prev,.gallery-next{
  bottom:10px;
}
@media(min-width:600px){
  .gallery-box img:nth-child(2n):not(:last-of-type){
      grid-row-end:span 2;
  }
  [data-layout="horizontal"] img:nth-child(2n):not(:last-of-type){
      grid-column-end:span 2;grid-row-end:span 1;
  }
  [data-layout="square"] img:nth-child(2n):not(:last-of-type){
      grid-row-end:span 1;
      grid-column-end:span 1;
  }
}
@media(max-width:620px){
  .gallery-box{
      grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
      grid-auto-rows:calc(var(--row-height) - 40vh);
      margin:10px 0;
  }
  .gallery-box{
    display:flex;
    flex-direction: column;
  }
  .gallery-box img {
    filter: grayscale(0);
  }
  }
/* Gallery above */

/* Site map and services button styling */
.serviceslinks a, .sitemaplinks a .to-top {
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
    padding: 17px;
}
/* Site map */
  .sitemapbtn:hover {
    color: #F3733D;
    box-shadow: 0 0.5em 0.5em -0.4em #F3733D;
  }
  .sitemaplinks {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  @media(max-width:534px){
  .sitemaplinks {
    justify-content: center;
  }
  }
/* Site map above */

/* Testimonials */
.testimonial-start {
  align-self:flex-start;
  background: none;
  box-shadow: none;
  backdrop-filter: none;
  font-size: 30px;
  padding: 0;
  margin: 22px 0 22px 0;
}
  .testimonial-end {
    align-self:flex-end;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    font-size: 30px;
    padding: 0;
    margin: 0 0 22px 0;
  }
  .testimonial-p {
    align-self:center;
    margin: 0 80px 0 80px;
  }

  @media(max-width:534px){
  .testimonial-p {
    margin: 0;
  }
  }

/* Testimonials page above */

/* Services page links */
  .serviceslinks {
    margin: 0 auto;
    max-width: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .servicesbtn:hover {
    color: #F9C400;
    box-shadow: 0 0.5em 0.5em -0.4em #F9C400;
  }
  .srvcs{
    display: flex;
    align-items: center;
    height:150px;
  }
  @media(max-width:800px){
    .srvcs{
      height:200px;
    }
  }
  @media(max-width:600px){
    .srvcs{
      height:250px;
    }
  }
  @media(max-width:400px){
    .srvcs{
      height:320px;
    }
  }

/* Servise page links above */

/* Contact page | Accounts Form Page */
  .contactbtn:hover {
    color: #F3733D;
    box-shadow: 0 0.5em 0.5em -0.4em #F3733D;
  }
  .acfbtn:hover {
    color: #83bc00;
    box-shadow: 0 0.5em 0.5em -0.4em #83bc00;
  }
  .contact-container {
    padding: 5px 0 20px 0;
  }
  .contact-address {
    display: flex;
    align-items: center;
    justify-items: space-between;
    flex-wrap: wrap;
  }
  .address{
    margin-top: 8px;
  }

  .iframewrapper{
    height: 1630px;
    margin-top: 20px;
  }
  
  #iframe-contact{
    height:1660px;
}

  .iframe-acc-wrapper {
    height: 2800px;
    margin-top: 20px;
  }
  
  #iframe-acc-form {
    height:2800px;
  }

/* Change height for | accounts form */
@media(max-width:710px){
  .iframe-acc-wrapper{
    height: 2780px;
  }
  #iframe-acc-form{
    height:2780px;
  }
}
@media(max-width:620px){
  .iframe-acc-wrapper{
    height: 2762px;
  }
  #iframe-acc-form{
    height:2762px;
  }
}
@media(max-width:530px){
  .iframe-acc-wrapper{
    height: 2742px;
  }
  #iframe-acc-form{
    height:2742px;
  }
}
@media(max-width:450px){
  .iframe-acc-wrapper{
    height: 2748px;
  }
  #iframe-acc-form{
    height:2748px;
  }
}
@media(max-width:444px){
  .iframe-acc-wrapper{
    height: 2779px;
  }
  #iframe-acc-form{
    height:2779px;
  }
}
@media(max-width:378px){
  .iframe-acc-wrapper{
    height: 2760px;
  }
  #iframe-acc-form{
    height:2760px;
  }
}
@media(max-width:344px){
  .iframe-acc-wrapper{
    height: 2775px;
  }
  #iframe-acc-form{
    height:2775px;
  }
}
@media(max-width:325px){
  .iframe-acc-wrapper{
    height: 2814px;
  }
  #iframe-acc-form{
    height:2814px;
  }
}
/* Height adjustment for accounts form */

/* Change height for | contact form */
@media(max-width:510px){
  .iframewrapper{
    height: 1680px;
  }
  #iframe-contact{
    height:1680px;
  }
}

@media(max-width:370px){
  .iframewrapper{
    height: 1688px;
  }
  #iframe-contact{
    height:1688px;
  }
}
  
@media(max-width:534px){
  .contact-address {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contact-address p {
    text-align: center;
  }
}
/* Contact page | Account form page above */

/* Terms and conditions page */
  .tc{
    text-align: left;
  }

  .tc li{
    margin: 0 20px 0 22px;
    text-align: left;
    list-style-type: decimal;
    color: #F3733D;
    font-weight: bold;
    list-style-position:inside;
}

 .tc li p{
   font-weight: 400;
   color: #707070;
 }

 .tc li ol li{
  list-style-type: lower-alpha;
 }

 .tc li ol ol li{
  list-style-type:decimal;
 }

 @media(max-width:700px){
  .tc ol li{
    margin: 0 2px 0 10px;
 }
 .tc ol li p{
   padding-left: 0;
   padding-right: 0; 
 }
}

/* Terms and conditions above */

/* Privacy Policy */
  .pp{
    text-align: left;
  }
  .pp ol li{
    list-style-type:disc;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
  }
  .spacing{
    margin-bottom: 22px;
  }
  .contact-ppp{
    margin-bottom: 22px;
  }

/* Privacy policy above */

/* Quality policy */
  .qp li{
    list-style-type:disc;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
  }
  .qualitybtn:hover {
    color: #83bc00;
    box-shadow: 0 0.5em 0.5em -0.4em #83bc00;
  }
/* Quality policy above*/

/* Legal */
  .signature{
    margin-left: Auto;
    margin-right: 10px;
  }
  .signature p{
    text-align: right;
  }
/* Legal */

/* Service pages */

/* Service page list */
.cln-list li{
  text-align: left;
  list-style-type:disc;
  margin: 0 7% 22px 7%;
}

/* Affiliations / Accreditations */
.aff-logos{
  margin: 0 17px 17px 17px;
  max-width: 175px;
  width:25%;
}

/* Meet the team */
.meet-team img{
  width: 300px;
  margin: 0 20px 20px;
}
.meet-team{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.meet-team p{
  padding: 0;
}
@media(max-width:648px){
  .meet-team{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .meet-team p{
    margin-bottom: 20px;
    text-align: center;
  }  
 }
 @media(max-width:400px){
  .meet-team img{
    max-width: 80%;
  }
 }















/* Stats gauges */
.container-stats {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
 .gauge {
  max-width:250px;
  margin: 0 10px 0 10px;
}
.gauge text {
  margin: 0 auto;
}
.gauge p {
  color: #83BC00;
  font-size: 20px;
  margin-top: -30px;
}
 .cs_gauge_feedback {
  stroke-dasharray:1463;
  stroke-dashoffset:1463;
  animation: draw-gauge 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes draw-gauge {
  0% {
    stroke-dashoffset:1463;
    stroke:#F3733D;
  }
  100% {
    stroke-dashoffset:40.964;
    stroke:#83bc00;
  }
}
.st2{
  fill:#83bc00;
}