/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  font-family: "montserrat", sans-serif;
}

/* temp background */

/* body {
  background-image: url(https://www.xmple.com/wallpaper/grey-white-green-stripes-lines-streaks-1920x1080-c3-3cb371-2f4f4f-ffffff-l3-71-71-71-a-135-f-1.svg);
} */

/* temp background */

/* Dots Colour for Slider */

.green .slick-dots li button:before {
  font-size: 10px;
  color:#83bc00;
}

.orange .slick-dots li button:before {
  font-size: 10px;
  color: #F9C400;
}

/* Dots Colour for Slider Above */


/* navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(145%);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  min-height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  color: #707070;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.logo a{
  text-decoration: none;
  color: #83bc00;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  align-items: center;
}

.nav-links a {
  color: #707070;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0 2vw 0 0;
}

.fa-phone {
  font-size: 1.45rem;
  color: #83bc00;
}

/* navbar above */

/* hamburger menu icon large device */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 29px;
  height: 4px;
  background-color: #707070;
  margin: 4px;
  transition: all 0.3s ease-in;
}

/* hamburger menu icon above large device */

.mobile-menu {
  display: none;
}

/* navbar mobile */

@media screen and (max-width: 900px) {
  
  /* mobile menu background */
  .mobile-menu {
    display: flex;
    position: fixed;
    height: 100vh;
    right: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) contrast(20%) brightness(145%);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-120%);
    transition: transform 0.4s ease-in;
    z-index: 1;
    position: fixed;
    top: 0;
  }

  /* mobile menu links */
  .nav-links {
    margin: 0 auto;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 17vh;
    height: 70vh;
    right: 0px;
    width: 100%;
    transform: translateY(-120%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .fa-phone {
    padding-top: 80%;
    font-size: 1.8rem;
  }
}

/* for app.js use to open the menu */
.nav-active {
  transform: translateY(0%);
}
/* for app.js use to open the menu above*/

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.toggleX .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleX .line2 {
  opacity: 0;
}

.toggleX .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* nav bar above */

/* footer */

/* footer above */

/* home page */

.home-container {
  margin: 12vh auto 0 auto;
  max-width: 1200px;
  /* background-color: blue; */
  height: 200vh;
  text-align: center;
}

/* Main content box */

.box-main {
  margin: 4vh auto 0 auto;
  width: 90%;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(145%);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.box-main p {
  padding: 10% 2% 12% 2%;
  color: #707070;
  font-size: 17px;
  text-align: left;
}

.box-head {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 2vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
  color: #83bc00;
  font-size: 17px;
}

.box-foot {
  right: 0;
  bottom: 0;
  position: absolute;
  margin-left: 6vh;
  width: auto;
  padding: 2%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
  color: #83bc00;
  font-size: 17px;
}

@media screen and (max-width: 900px) {
  .box-main p {
    padding: 10% 2% 10% 2%;
  }
  
  .box-head {
    padding: 2vh 0;
    width: 100%;
    font-size: 15px;
  }

  .box-foot {
    padding: 2vh 0;
    width: 100%;
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .box-main p {
    padding: 18% 2% 18% 2%;
  }
}

/* Main content box above */



/* home page above */


/* Services Cards Carousel */
.services-carousel {
  margin: 4vh auto;
  text-align: center;
  padding: 2vh 50px 1vh 50px;
  overflow: hidden;
}

.slick-slide {
  margin: 0 10px;
}

.services-card {
  height: 30vh;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
}

.services-card img {
  height: 100%;
  min-width: 100%;
  position: absolute;
  justify-content: center;
}

.services-card .services-card-text {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #707070;
  transition: height 0.4s;
  text-align: left;
  font-size: 80%;
}

.services-card-text p {
  padding: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.services-card:hover .services-card-text {
  height: 100%;
}
/* Services Cards Carousel Above */

/* Quote Carousel */
.quotes-carousel {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(145%);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  margin-top:4vh;
  width: 90%;
  overflow: hidden;
}

.quote-card p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin:0 auto;
  width: 80%;
  height: 10vh;
  margin-top: 9vh;
}

.quote-head {
  position: absolute;
  left: 0;
  width: auto;
  padding: 2vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
  color: #83bc00;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .quote-card p {
    padding: 7% 5% 7% 5%;
  }
}

/* Quote Carousel Above */

/* gallery */

.gallery-container {
  margin-top: 12vh;;
}

.gallery-container{
  --main-color:#000;
  --secondary-color:#111;
  --txt-color:#fff;
  --img-bg-color:rgba(240,240,240,0.9);
  --backdrop-color:rgba(240,240,240,0.9);
  --gap-length:2px;
  --row-height:200px;
  --column-width:300px;
}

.gallery-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(var(--column-width),1fr));
  grid-auto-rows:var(--row-height);
  grid-gap:var(--gap-length);
  margin:20px 0;
}

.gallery-box img{
  object-fit:cover;
  cursor:pointer;
  width:100%;
  height:100%;
  background:var(--img-bg-color);
  filter: grayscale(1);
  transition: 0.4s;
}

.gallery-box img:hover{
  opacity:.98;
  filter: grayscale(0);
}

#gallery-screen{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:var(--backdrop-color);
  z-index:9999;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:content;
}

#gallery-screen .gallery-image{
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:content;
}

#gallery-screen .gallery-image img{
  max-width:100%;
  max-height:100%;
  margin:0 auto;
}

.gallery-btn{
  margin: 10vh;
  padding: 2vh;    
  background:var(--main-color);
  color:#707070;
  text-align:center;
  cursor:pointer;
  -moz-transition:all .4s ease;
  -o-transition:all .4s ease;
  -webkit-transition:all .4s ease;
  transition:all .4s ease;
  font-size: 1.6rem;
  box-sizing:border-box;
  position:fixed;
}

.gallery-btn:hover{
  background:var(--secondary-color);
}

.gallery-close{
  top:10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
  margin-right: 2vw;
}

.gallery-close, .gallery-next{
  right:10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
}

.gallery-prev{
  right:50px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
  margin-right: 6vw;
}

.gallery-next {
  margin-right: 2vw;
}

.gallery-prev,.gallery-next{
  bottom:10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) contrast(20%) brightness(110%);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.35);
}

@media(min-width:600px){
  .gallery-box img:nth-child(2n):not(:last-of-type){
      grid-row-end:span 2;
  }
  
  [data-layout="horizontal"] img:nth-child(2n):not(:last-of-type){
      grid-column-end:span 2;grid-row-end:span 1;
  }
  
  [data-layout="square"] img:nth-child(2n):not(:last-of-type){
      grid-row-end:span 1;
      grid-column-end:span 1;
  }
}

@media(max-width:620px){
  .gallery-box{
      grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
      grid-auto-rows:calc(var(--row-height) - 40vh);
      margin:10px 0;
  }
  .gallery-box{
    display:flex;
    flex-direction: column;
}
.gallery-box img {
    filter: grayscale(0);
}
}
